# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# generated resources
src/main/resources/assets/projecty/blockstates
src/main/resources/assets/projecty/lang
src/main/resources/assets/projecty/models/block
src/main/resources/assets/projecty/models/item
src/main/resources/assets/projecty/textures/blocks
src/main/resources/assets/projecty/recipes
