# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# generated resources
src/main/resources/assets/quartzium/blockstates
src/main/resources/assets/quartzium/lang
src/main/resources/assets/quartzium/models/block
src/main/resources/assets/quartzium/models/item
src/main/resources/assets/quartzium/textures/blocks
src/main/resources/assets/quartzium/recipes
